nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;

      &.logo {
        background: url('../../static/flame.png') center no-repeat;
        background-size: 50%;
      }

      .index & {
        a {
          color: $black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
