.index {
  .intro {
    @include column-layout;

    min-height: 30rem;

    .intro-text, .intro-image {
      @include two-col;
    }

    .intro-image {
      text-align: center;

      img {
        border-image: linear-gradient(to top right, #ff7e5f, #feb47b);
        border-width: 0.1rem;
        height: auto;
        margin: 0 auto;
        max-width: 30rem;
        width: 100%;
      }
    }
  }

  .color-slash {
    .small {
      padding: 0;
    }

    text-align: center;
  }

  .logo-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .hetas-logo, .gas-safe-logo {
      display: none;
    }

    @media (min-width: $medium-breakpoint) {
      flex-direction: row;

      .hetas-logo, .gas-safe-logo {
        display: block;
        height: auto;
        width: 40%;
      }
    }

  }
}
