$gradient-light: transparentize($white, 0.2);
$gradient-dark: transparentize($secondary-color, 0.1);

.hero-container {
  align-items: center;
  background: linear-gradient(to top right, $gradient-dark 0%, $gradient-light 100%), url('../../static/hero-image.jpg') center;
  background-size: cover;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    margin: 1rem;
  }

  &::after{
    background: inherit;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transform-origin: right bottom;
    transform: skewY(-3deg);
    width: 100%;
    z-index: -1;
  }

  .stylized-heading {
    text-shadow: 0 0 10rem $white;
  }
}
