.product {
  @include column-layout;

  margin: 1rem 0;

  .description, .image-wrapper {
    @include two-col;
  }

  .image-wrapper {
    text-align: center;
  }

  img {
    height: auto;
    max-width: 30rem;
    width: 100%;
  }

  &:nth-of-type(odd) {
    .image-wrapper {
      order: 0;
    }

    .description {
      order: 1;
    }
  }
}
