.color-slash {
  align-items: center;
  background: linear-gradient(to right, $secondary-color, $tertiary-color);
  color: $black;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  position: relative;
  margin: 3rem 0;
  width: 100%;
  // transform-origin: right top;
  // transform: skewY(3deg);

  &::before, &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
  }

  &::before {
    bottom: 0;
    transform-origin: right top;
    transform: skewY(3deg);
  }

  &::after {
    bottom: -3rem;
    transform-origin: right bottom;
    transform: skewY(-2deg);
  }

  &.flat {
    height: 15rem;
    margin-top: 0;

    &::before {
      transform: skew(0);
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $medium-breakpoint) {
    margin: 7rem 0;
  }
}
