@mixin container {
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: $medium-breakpoint;
  padding: 0 2rem;
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    padding: none;
  }
}

@mixin column-layout {
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-breakpoint) {
    flex-direction: row;
  }
}

@mixin two-col {
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    padding: 0.5rem;
    width: 50%;
  }
}
