@import 'normalize.css';
@import '_variables';
@import '_mixins';

// Components
@import '../components/layout/header/styles';
@import '../components/layout/header/navigation/styles';
@import '../components/hero/styles';
@import '../components/color-slash/styles';
@import '../components/product/styles';
@import '../components/form/styles';
@import '../components/layout/footer/styles';

// Pages
@import '../pages/styles/index.scss';
@import '../pages/styles/location.scss';

* {
  box-sizing: border-box;
}

body {
  background: $white;
  color: $black;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  @include container;
}

h1, h2 {
  font-family: 'Righteous';

  &.stylized-heading {
    text-align: center;

    > span {
      display: block;

      &.large {
        font-size: calc(1em * 1.5);
      }
    }
  }
}

h2 {
  font-size: 2rem;
}

a {
  position: relative;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $primary-color;
  }

  &:visited {
    color: $black;
  }
}

button {
  background: $white;
  border: none;
  color: $black;
  letter-spacing: 2px;
  padding: 0.6rem 0.8rem;
  text-transform: uppercase;

  &.primary {
    background: none;
    border: 2px solid $white;
    color: $white;
  }
}

address {
  font-style: normal;
}

.flame-letter {
  background: url('../static/flame.png') center no-repeat;
  background-size: contain;
  color: transparent;
  text-shadow: none;
}

.hetas-logo {
  height: auto;
  width: 5rem;
}

.gas-safe-logo {
  height: auto;
  width: 7rem;
}
